ghapi>=1.0
fastcore!=1.12.2
opentelemetry-api>=1.0
opentelemetry-sdk>=1.0
opentelemetry-exporter-otlp-proto-grpc>=0.40b0
opentelemetry-instrumentation-logging>=0.40b0
pyrfc3339
requests
python-dateutil


